.footer {
    min-height: 35vh;
    background-image: linear-gradient(#ffffff, #dae4e9, rgb(171, 229, 236));
    width: 100%;
    // transform:translateX(-20%);
    z-index: 5;
    color: white;
    font-family: arial;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    // display:none;
    .footer-link {
        text-decoration: none;
        color: rgb(189, 75, 75);
        font-size: 2vw;
    }
}

@media only screen and (min-width: 900px) {
    .footer {
        .footer-link {
            text-decoration: none;
            font-size: 1.2vw;
        }
    }
}
