.footer {
    min-height: 35vh;
    background-image: linear-gradient(#ffffff, #dae4e9, rgb(171, 229, 236));
    width: 100%;
    // transform:translateX(-20%);
    z-index: 5;
    color: white;
    font-family: arial;
    display: flex;

    padding: 5% 7% 10%;
    box-sizing: border-box;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .copyright {
        color: rgb(189, 75, 75) !important;
    }
    .icons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;

        .footer-link {
            text-decoration: none;
            color: rgb(189, 75, 75) !important;
            font-size: 200%;
        }
    }
}

@media only screen and (min-width: 600px) {
    .footer {
        .icons {
            .footer-link {
                font-size:120%;
            }
        }
    }
}
