.main-content {
	position: relative;
	width: 91vw;
	// display: none;
	animation: fadein 2s forwards;
	// top: 5;
	// margin-left: 6%;
	// height: 2000px;
	// scrollbar-width: none;
	.burger {
		display: block;
		transform: translate(0);
		z-index: 20;
		margin-bottom: 5%;
		padding: 1.5vh 3vw 3vh;
		height: 3vh;
		.line {
			margin-bottom: 2%;
			border-bottom: 2px solid #bbb;
			width: 10%;
		}
		.line:last-child {
			margin-bottom: 0;
		}
	}
	.mail-to {
		position: absolute;
		top: 0.5%;
		right: 0;
		border: 0;
		background: transparent;
		font-size: 90%;
	}
	.main-content-scrollable {
		border-radius: 5px;
		width: 100%;
		height: 91vh;
		overflow-y: scroll;
		// margin: 1% 1%;
		scrollbar-width: none;
		.scrollable-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 3% auto;
			width: 100%;
			justify-content: center;
		}
	}
	::-webkit-scrollbar {
		display: none;
	}
	.see-more-btn {
		position: absolute;
		top: 75%;
		right: 0;
		z-index: 3;
		border: 0;
		background: transparent;
		color: lightblue;
		font-size: 220%;
		// transform: translate(5%);
		z-index: 10;
	}
	.see-more-btn-flip {
		transform: rotate(180deg);
		z-index: 10;
	}
	.title {
		position: absolute;
		top: 0;

		transform: translateX(50%);
		font-family: "Overpass";
		width: 50%;
		margin: 3% auto;
		text-align: center;
		font-size: 55%;
	}
	@media only screen and (min-width: 600px) {
		// width: 85%;
		.burger {
			transform: translate(-2vw);
			margin-bottom: 0;
			.line {
				margin-bottom: 1%;
				border-bottom: 2px solid #bbb;
				width: 5%;
			}
		}
		.title {
			font-size: 60%;
		}
	}
	@media only screen and (min-width: 1200px) {
		width: 93vw;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
