.main-content-scrollable {
    .reviews {
        padding: 0 5%;
        font-family: "Overpass";
        display:flex;
        justify-content: flex-start;
        width:90%;

        div {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            p {
                display: block;
                padding: 3% 0;
                line-height:1.8em;
            }
        }
    }
    .link{
        padding:5%;
    }
    .doc-wrapper {
        min-height: 95%;
        width: 90%;

        iframe {
            width: 100%;
            height: 100%;
            background: white;
        }
    }
}

@media only screen and (min-width: 600px) {
    .main-content-scrollable {
        .doc-wrapper {
            min-height: 55%;
            iframe {
                height: 70%;
            }
        }
    }
}
@media only screen and (min-width: 900px) {
    .main-content-scrollable {
        .doc-wrapper {
            min-height: 75%;
            iframe {
                height: 90%;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .main-content-scrollable {
        .doc-wrapper {
            min-height: 90%;
            iframe {
                height: 100%;
            }
        }
    }
}
