.technologies{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    justify-content: center;
    
    // .tech-icon{
    //     width:10vw;
    //     padding:5%;
    //     height:10vw;
    // }
    .tech-icon-form{
        width:70%;
    }
}