.resume {
    // min-height: 100%;
    margin: 1%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    min-height: 90%;
    scrollbar-width: none;
    width:80%;
   
    animation: fadein 1s forwards;

    .res-img-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // overflow-y: scroll;
        // margin:5% 0 0 5%;
        padding:3%;
        box-sizing:border-box;
        height: 100%;
        width:90%;
       
    
        .option {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid lightblue;
            border-radius:5%;
            width: 38%;
            font-size: 300%;
            font-family: "Overpass";
            opacity: 0.7;
            box-sizing: border-box;
            margin:1%;
        //   height:100%;
            a{
                // height:50%;
            }
            a img{
                height:50%;
                transform:translateX(0%);
            }
            .fa-google-drive {
                color: green;
            }
            .fa-file-pdf {
                color: red;
            }
            .fa-linkedin {
                color: blue;
            }
            .fab.fa-github {
                color: rgb(85,26,139);
            }
        }
        .highlight {
            // font-size: 10em;
           border:3px solid rgb(123, 194, 218);
            opacity:1;
            transform:scale(1.08);
        }
        // &:hover {
        //     opacity: 0.6;
        //     background: white;
        // }
    }
}

@media only screen and (min-width:600px){
    .resume{
        .res-img-wrapper{
            .option{
                // font-size: 500%;
                width:48%;
                font-size:500%;
                padding:2%;
            }
        }
    }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
