@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Overpass:100,300,400|Roboto:100,300,600");

.text {
  margin: 3% 10%;
  padding: 3% 0 20% 0;
  color: black;
  font-family: "Overpass";
  // height:50%;
  width: 75%;
  line-height: 1.8em;
 
  
}
.about-image-wrapper {
  display: flex;
  justify-content: center;
  .about-image {
    width: 60%;
  }
}
// .para-wrap::-webkit-scrollbar {
//   display: none;
// }

@media only screen and (min-width: 600px) {
  .text {
    padding-bottom:1%;
    margin-bottom:5%;
  }
}

@media only screen and (min-width: 900px) {
  .text {
    font-size:1.3vw;
  }
}

.text, .about-image-wrapper{
  animation:fadein 2s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}